__pycache__
requirements_all.txt
lightdmf.ipynb
_log_slurm/
# 1. Ignore the directory's contents
output/*

# 2. Allow the subdirectories themselves (non-recursive)
!output/lightweight/

# 3. Ignore everything inside those subdirectories
output/lightweight/*

# 4. Finally, un-ignore the specific files you want
!output/lightweight/config.pth
!output/lightweight/model.pth
run/*
src_working/*
src/microphone_input.py

computer_name.txt
notes.txt

audio_samples/*
audio_samples/case_concat.wav

models_dev.py
train_clean.py