__pycache__
requirements_all.txt
lightdmf.ipynb
_log_slurm/
# 1. Ignore the directory's contents
output/*

# 2. Allow the subdirectories themselves (non-recursive)
!output/flagship/
!output/lightweight/

# 3. Ignore everything inside those subdirectories
output/flagship/*
output/lightweight/*

# 4. Finally, un-ignore the specific files you want
!output/flagship/config.pth
!output/flagship/model.pth
!output/lightweight/config.pth
!output/lightweight/model.pth
run/*
src_working/*
src/microphone_input.py